<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Review MVC</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
      <link href="/css/bootstrap.min.css" rel="stylesheet"/>
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" media="all" href="../../css/review.css" th:href="@{/css/review.css}" />
  </head>
    <body>
    <div class="container">
        <br/>
        <br/>
        <br/>
        <div class="jumbotron">
            <div class="text-center">
                <h1>Welcome to Jibril's Opinionated REVIEWS</h1>
                <h2>Click <a href="/showReviews">here</a> to see some of the most hater-like review collection you have ever seen</h2>
            </div>
            
        </div>
    </div>
        
            
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    </body>
</html>